datasets==2.19.0
diffusers==0.31.0
einops==0.8.0
huggingface-hub==0.26.2
imageio==2.34.1
jaxtyping==0.2.28
joblib==1.4.0
matplotlib==3.8.4
numpy==1.26.4
omegaconf==2.3.0
opencv-python==4.9.0.80
pandas==2.2.2
pillow==10.3.0
plyfile==1.0.3
pyparsing==3.1.2
PyYAML==6.0.1
safetensors==0.4.3
scikit-image==0.23.2
scipy==1.13.0
tensorboard==2.16.2
tensorboardX==2.6.2.2
timm==0.9.16
tqdm==4.66.2
transformers==4.40.1
spaces==0.28.3
tensorboardX
easydict
transforms3d
h5py
open3d
thop